body {
  font-family: Arial, sans-serif;
  background-image: url("./img/Cielo_nublado.jpg");
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
/******* navbar ****************/
/* Estilos generales */
nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #03bb06;
}

/* Estilos para el botón de navegación en pantallas pequeñas */
.nav-toggle {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li:last-child {
    margin-bottom: 0;
  }

  .nav-toggle {
    display: block;
  }

  .nav-collapse {
    display: none;
    background-color: #333;
    padding: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
    left: 10px;
    text-align: center;
  }

  .nav-collapse ul li {
    display: block;
    margin-bottom: 10px;
  }

  .nav-collapse ul li:last-child {
    margin-bottom: 0;
  }
}


/******* navbar ****************/
main {
  flex-grow: 1;
  text-align: center;
  margin-top: 50px;
  color: #2508b4;
}

h2 {
  margin-bottom: 30px;
}

.weather-form {
  margin-bottom: 50px;
}

.weather-form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}


.weather-form input[type="text"],
.weather-form input[type="date"] {
  padding: 5px 10px;
  font-size: 16px;
}

.weather-form button {
  padding: 8px 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.weather-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  flex-shrink: 0;
}
