body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  #weather-info {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #weather-info h2 {
    color: #555;
  }
  
  #weather-info p {
    color: #888;
  }
  
  